@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sofia Sans Semi Condensed';
    src: url('/fonts/SofiaSansSemiCondensed-VariableFont_wght.ttf')
  }

  *, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #F4F0FF;
  }
}
